<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">用户</li>
            <li id="_account_profile"><a href="/account/profile">基本信息</a></li>
            <li class="nav-header">设备</li>
            <li id="_account_device"><a href="/account/device">基本信息</a></li>
            <li id="_account_device_order"><a href="/account/device/order">申请</a></li>
            <li id="_account_device_statis"><a href="/account/device/statis">统计</a></li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function(){
        var pathname = window.location.pathname;
        var path_name = pathname.split("/")

        if(path_name[3]=="" || path_name[3]==undefined){
            var name = "_" + path_name[1] + "_" + path_name[2]
        }else{
            var name = "_" + path_name[1] + "_" + path_name[2] + "_" + path_name[3]
        }

        $("#" + name).addClass("active");
    })
</script>
