{% load url from future %}

<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li id="_account"><a href="/account/profile"><i class="icon-user"></i> 个人信息</a></li>
    <li id="_mail"><a href="{% url 'mail:index' %}"><i class="icon-envelope"></i> 告警邮件</a></li>
  </ul>
</div>

<script>
  $(document).ready(function(){
    var pathname = window.location.pathname;
    var path_name = pathname.split("/")
    var name = "_" + path_name[1]

    $("#" + name).addClass("active");
  })
</script>
