{% load url from future %}
{% url 'account:profile_update' as profile_update_url %}

<a class="btn btn-primary" href="#" onclick="a_update();"><i class="icon-pencil icon-white"></i> 更新</a>
<div id="myModal" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a> 
        <h3>更新个人信息</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="{{ profile_update_url }}" method="post">
            {% csrf_token %}
            <fieldset>
                {% for field in form %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">取消</a>
                    <button class="btn btn-primary" type="submit">保存</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>

    function a_update(){
        $('#myModal').modal('show')
    }

</script>

