{% load url from future %}
{% url 'isp:province_index' as isp_province_index_url %}
{% url 'pbl:isp_index' as pbl_isp_index_url %}

<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li id="_isp">
    <a href="{{ isp_province_index_url }}"> <i class="icon-home"></i> 首页</a>
    </li>
    <li id="_pbl">
    <a href="{{ pbl_isp_index_url }}"><i class="icon-check"></i> PBL探测</a>
    </li>
  </ul>
</div>

<script>
  $(document).ready(function(){
    var pathname = window.location.pathname;
    var path_name = pathname.split("/")
    var name = "_" + path_name[1]
    $("#" + name).addClass("active");
  })
</script>
