{% load url from future %}
{% url "domain:index" as domain_index_url %}

<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">域名</li>
            <li id="_crawler_">
                <a href="{{ domain_index_url }}">
                    <i class="icon-home"></i>
                    Home
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function(){
        var pathname = window.location.pathname;
        var path_name = pathname.split("/")

        if(path_name[3]=="" || path_name[3]==undefined){
            var name = "_" + path_name[1] + "_" + path_name[2]
            }else{
            var name = "_" + path_name[1] + "_" + path_name[2] + "_" + path_name[3]
        }

        $("#" + name).addClass("active");
    })
</script>
