{% extends 'base.html' %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row-fluid">

    {% include "account/sidebar.html" %}

    <div class="span9">
          <fieldset>
            <legend>设备统计</legend>
      <div id="container" style="width: 100%; height: 400px"></div>
      </fieldset>

    </div>
  </div>
</div>

<script src="{{ STATIC_URL }}js/highcharts.js"></script>
<script>
  var chart1; // globally available
  $(document).ready(function() {
    chart1 = new Highcharts.Chart({
      chart: {
        renderTo: 'container',
        type: 'column'
      },
      title: {
        text: '个人设备统计'
      },
      legend: {
        layout: 'vertical',
        backgroundColor: '#FFFFFF',
        align: 'titleleft',
        verticalAlign: 'top',
        x: 100,
        y: 70,
        floating: true,
        layoutshadow: true
      },
      xAxis: {
        categories: ['设备']
      },
      yAxis: {
        title: {
          text: 'count'
        }
      },
      series:
      [
        {
          name: '可用',
          data: {{ data.enable }}
        }, {
          name: '不可用',
          data:{{ data.disable }}
        },{
          name: '未确定',
          data:{{ data.unknow}}
        },{
          name: '申请中',
          data:{{ data.apply}}
        },{
          name: '通过',
          data:{{ data.pass_count}}
        },{
          name: '未通过',
          data:{{ data.unpass }}
        }
      ]
    });
  });

</script>

{% endblock %}
