{% extends 'base.html' %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row-fluid">

    {% include "account/sidebar.html" %}

    <div class="span9">

      <div class="hero-unit">
        <form class="form-horizontal" action="/account/device/order/create" method="post">
          {% csrf_token %}
          <fieldset>
            <legend>申请设备</legend>
            {% for field in form %}
            <div class="control-group">
              <label class="control-label">{{ field.label }}</label>
              <div class="controls">
                {{ field }}
              </div>
            </div>
            {% endfor %}
            <div class="form-actions">
              <button class="btn btn-primary" type="submit">保存</button>
            </div>
          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
