{% load url from future %}

{% include "isp/device/new.html" %}
<table id="device_table" class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th width="15">
                <a href="#" onclick="toggle('_device_tbody', '_device_i');"><i id="_device_i" class="icon-eye-open"></i></a>
            </th>
            <th>名称</th>
            <th>SN</th>
            <th width="40">操作</th>
        </tr>
    </thead>
    <tbody id="_device_tbody">
        {% for device in devices %}
        <tr id="tr_device_{{device.id}}">
            <td></td>
            <td>{{ device.name }}</td>
            <td>{{ device.sn }}</td>
            <td><a href="#" onclick="_device_remove('{% url "isp:device_delete" province.id device.id %}', {{ device.id }});"><i class="icon-trash"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>

    function _device_remove(url, id){
        bootbox.confirm("你确定删除么?", function(result){
            if (result) {
                $.get(url, function(data){
                    if(data["result"]=="success"){
                        $("#tr_device_" + id).fadeOut(1000, function(){ $("#tr_device_" + id).remove });
                        }else{
                        imessage("删除失败", "error");
                    }
                })
                } else {
            }
        });
    }
</script>

