{% extends 'base.html' %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}
{% load url from future %}
{% url 'pbl:state_show' as pbl_state_show_url %}

<div class="container-fluid">
    <div class="row-fluid">
        {% include "pbl/sidebar.html" %}

        <div class="span9">
            {% include "util/imessage.html" %}
            <div id="chart" class="well">
            </div>
        </div>
    </div>
</div>

{% include "crawler/opertion_message.html" %}
<script>
    $("#chart").load("{{ pbl_state_show_url }}");

</script>

{% endblock %}

