{% load url from future %}
{% url 'isp:province_create' as isp_province_create_url %}

<div id="_update_province_modal" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a> 
        <h3>更新运营商</h3>
    </div>
    <div class="modal-body">

        <form id="_update_province_form" class="form-horizontal" method="POST">
            {% csrf_token %}
            <fieldset>
                <div class="control-group">
                    <label class="control-label">名称</label>
                    <div class="controls">
                        <input id="_update_province_name" type="text" class="input-xlarge" name="name">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">取消</a>
                    <button class="btn btn-primary" type="submit">保存</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

