{% extends 'base.html' %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}

<div class="container">
  <form class="well form-search" method="get" actions="csp/devices">
    <input type="text" class="input-medium search-query span10" name="info" value={{ info }}>
    <button type="submit" class="btn">Search</button>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>部门</th>
        <th>负责人</th>
        <th>兆维机房IP</th>
        <th>外网IP</th>
        <th>资产编号</th>
        <th>类型</th>
        <!--<th>用途</th>-->
        <th>系统</th>
        <!--<th>安全措施</th>-->
        <!--<th>位置</th>-->
        <!--<th>备注</th>-->
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for device in devices %}
      <tr>
        <td>{{ device.group }}</td>
        <td>{{ device.owner }}</td>
        <td>{{ device.intranet_ip }}</td>
        <td>{{ device.external_ip }}</td>
        <td>{{ device.sn }}</td>
        <td>{{ device.type }}</td>
        <!--<td>{{ device.description }}</td>-->
        <td>{{ device.os }}</td>
        <!--<td>{{ device.safe }}</td>-->
        <!--<td>{{ device.location }}</td>-->
        <!--<td>{{ device.remark }}</td>-->
        <td>
          <a href="/csp/device/{{ device.id }}/show"><i class="icon-edit"></i></a>
          <!--<a href="/csp/device/{{ device.id }}/delete" onclick="return delete()" ><i class="icon-trash"></i></a>-->
          <a href="#" onclick="a_delete({{ device.id }});" ><i class="icon-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div id="myModal" class="modal hide fade">

    <div class="modal-body">
      <h4>确定删除设备信息吗?</h4>
    </div>

    <div class="modal-footer">
      <a id="a_delete" href="#" class="btn btn-danger">Yes</a>
      <a href="#" class="btn" data-dismiss="modal" >No</a>
    </div>

  </div>
</div>

<script>
  function a_delete(device_id){
    $("#a_delete").attr("href", "/csp/device/" + device_id + "/delete?info={{ info }}")
    $('#myModal').modal('show')
  }
</script>

{% endblock %}

