<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Covery</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}icons/logo.ico">

    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">

    {% block nav %}
    {% endblock %}

    {% block content %}
    {% endblock %}

  </body>
</html>

