<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Covery</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}icons/logo.ico">

    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}noty/css/jquery.noty.css">
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootbox.min.js"></script>
    <script src="{{ STATIC_URL }}noty/js/jquery.noty.js"></script>


  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    {% include "util/imessage.html" %}

    {% block nav %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30867207-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>

