
{% load url from future %}

<div class="btn-toolbar" style="margin-bottom: 1px">
    <div class="btn-group">
        <a class="btn btn-primary" href="{% url 'pbl:survey_new' province.id %}"><i class="icon-plus icon-white"></i> 添加出口策略</a>
    </div>
</div>
<table id="device_table" class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th width="15">
                <a href="#" onclick="toggle('_survey_tbody', '_survey_i');"><i id="_survey_i" class="icon-eye-open"></i></a>
            </th>
            <th>出口策略</th>
            <th width="40">操作</th>
        </tr>
    </thead>
    <tbody id="_survey_tbody">
        {% for survey in surveys %}
        <tr id="tr_survey_{{survey.id}}">
            <td></td>
            <td>{{ survey.operator }}</td>
            <td>
                <a href="{% url 'pbl:survey_show' province.id survey.id %}"><i class="icon-edit"></i></a>
                <a href="#" onclick="_survey_remove('{% url "pbl:survey_delete" province.id survey.id %}', {{ survey.id }});"><i class="icon-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>

    function _survey_remove(url, id){
        bootbox.confirm("你确定删除么?", function(result){
            if (result) {
                $.get(url, function(data){
                    if(data["result"]=="success"){
                        $("#tr_survey_" + id).fadeOut(1000, function(){ $("#tr_survey_" + id).remove });
                        }else{
                        imessage("删除失败", "error");
                    }
                })
                } else {
            }
        });
    }
</script>


