
{% extends 'base.html' %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}

{% for survey_device in survey_devices %}
<div id="{{ survey_device.survey.operator }}" class="span3 well">
    <h3>{{ survey_device.survey.operator }}</h3>
    {% for device in survey_device.devices %}
    <li name="device_li"><div class="alert alert-info" id="card1">{{ device.sn }}</div></li>
    {% endfor %}
</div>
{% endfor %}

<div id="gallery" class="span3 well">
    <h3>gallery</h3>
    <li class="ui-widget-content ui-corner-tr">
    <div class="alert alert-info" id="card1">1</div>
    </li>
    <li class="ui-widget-content ui-corner-tr">
    <div class="alert alert-info">2</div>
    </li>
</div>

<div id="trash" class="span3 well"><h3>trash</h3></div>

<script src="{{ STATIC_URL }}js/jquery-ui-1.8.19.custom.min.js"></script>
<script>
    $(function() {
        {% for survey_device in survey_devices %}
            $operator= $("#{{ survey_device.survey.operator }}")
            $( "li", $operator ).draggable({
                revert: true,
                cursor: "move"
            });

            $operator.droppable({
                accept: "li[name='device_li']",
                drop: function( event, ui ) {
                    $p = $(this)
                    $item = ui.draggable;
                    $item.fadeOut(function() {
                        $item.appendTo($p).fadeIn(function(){});
                    });
                }
            });

        {% endfor %}
    });
    $(function() {

        $gallery = $("#gallery"),
        $trash = $("#trash");

        $( "li", $gallery ).draggable({
            revert: true,
            cursor: "move"
        });

        $trash.droppable({
            accept: "#gallery > li",
            drop: function( event, ui ) {
                deleteImage( ui.draggable );
            }
        });

        $gallery.droppable({
            accept: "#trash > li",
            drop: function( event, ui ) {
                recycleImage( ui.draggable );
            }
        });

        function deleteImage($item) {
            $item.fadeOut(function() {
                $item.appendTo($trash).fadeIn(function(){});
            });
        }

        function recycleImage($item) {
            $item.fadeOut(function() {
                $item.appendTo($gallery).fadeIn();
            });
        }

    });

</script>

{% endblock %}

