{% load url from future %}
{% url 'pbl:survey_index' as pbl_survey_index_url %}
{% url 'pbl:survey_set' as pbl_survey_set_url %}
{% url 'pbl:state_index' as pbl_state_index_url %}

<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li id="_pbl_survey">
    <a href="{{ pbl_survey_index_url }}"> <i class="icon-home"></i> 首页</a>
    </li>
    <li id="_pbl_state">
    <a href="{{ pbl_state_index_url }}"><i class="icon-list-alt"></i> 状态</a>
    </li>
    <li id="_pbl_survey_set">
    <a href="{{ pbl_survey_set_url }}"><i class="icon-cog"></i> 设置</a>
    </li>
  </ul>
</div>

<script>
  $(document).ready(function(){
    var pathname = window.location.pathname;
    var path_name = pathname.split("/")

    if(path_name[3]=="" || path_name[3]==undefined){
      var name = "_" + path_name[1] + "_" + path_name[2]
      }else{
      var name = "_" + path_name[1] + "_" + path_name[2] + "_" + path_name[3]
    }

    $("#" + name).addClass("active");
  })
</script>
